aside {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 5% 45% 50%;
  height: 100vh;
  width: 250px;
  background-color: #3C887E;
  border-bottom: 1px solid white;
}

.name-button-container {
  grid-row: 2 / 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  height: 200px;
  width: auto;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 10px;
}

.name {
  font-size: 20px;
  margin: 0;
}

.occupation {
  font-size: 15px;
  margin: 10px;
  font-style: italic;
}

.linkContainer {
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.github {
  height: 90%;
  width: auto;
}

.github:hover {
  height: 100%;
}

.linkedin {
  margin: 2px 0px 10px 20px;
  height: 86%;
  width: auto;
}

.linkedin:hover {
  height: 96%;
}

.language-container {
  grid-row: 1 / 2;
  width: 80px;
  margin-top: 10px;
  margin-right: 2%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.language-button {
  height: 20px;
  border: none;
  background: none;
}

.language {
  height: 20px;
  width: auto;
}

@media only screen and (max-width: 600px) {
  header {
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .name-button-container {
    flex-direction: column;
  }
  .name {
    font-size: 30px;
    margin: 10px;
  }
  .linkContainer {
    height: 100%;
    margin-top: 0;
  }

  .language-container {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    padding-left: 15px;
    padding-bottom: 15px;
  }
}