.address {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

p {
  margin: 0;
  color: #6B6D76;
  margin-right: 20px;
}

.email {
  margin-right: 20px;
  text-decoration: none;
  color: #6B6D76;
  margin-left: 5px;
}

span {
  color: #6B6D76;
  display: block;
  margin-bottom: 20px;
}

.link {
  margin-left: 5px;
  text-decoration: none;
  color: #424243;
}

.link:hover {
  text-decoration: underline;
  color: #878686;
}