.skills-container {
  min-height: 410px;
}

li {
  color: white;
  text-decoration: none;
  margin: 5px;
}

@media only screen and (max-width: 935px) {
  aside {
    min-height: calc(100vh - 110px);
  }
}