.main {
  grid-column: 2 / 3;
  height: calc(100vh - 50px);
  overflow: scroll;
  padding: 50px 200px 0px 100px;
  min-width: 600px;
}

a {
  color: #424243;
}

@media only screen and (max-width: 700px) {
  .main {
    grid-row: 2 / 3;
    display: block;
    width: 100%;
    padding: 0;
    padding-right: 0;
    height: 500px;
  }
}